.nav {
    grid-area: n;
    padding: 20px;background-color: black;
    box-shadow: 5px 5px 0 #3C93D5;
    margin: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}